@tailwind base;
@tailwind components;
@tailwind utilities;

html{
    scroll-behavior: smooth;
}

body{
    scroll-behavior: smooth;
}

.carousel-slider{
    display: flex;
    flex-direction: column-reverse;
}

.control-dots{
    position: static !important;
    margin-bottom: 0 !important;
}

.dot{
    box-shadow: none !important;
    background: #000000 !important;
    opacity: 1 !important;
    position: relative !important;
    width: 10px !important;
    height: 10px !important;
}

.dot.selected::before{
    content: "";
    position: absolute;
    background: #42B06B !important;
    top: 1px;
    left: 1px;
    right: 1px;
    bottom: 1px;
    border-radius: 50%;
}

iframe::-webkit-scrollbar {  
    display: none;
}

.ul-primary li, .news-wrapper li{
    position: relative;
    margin-left: 30px;
    margin-bottom: 12px;
    padding-right: 30px;
}

.ul-secondary li, .news-wrapper li{
    position: relative;
    margin-left: 30px;
    margin-bottom: 12px;
}

.ul-primary li::before, .news-wrapper li::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    background-color: #18813F;
    top: 6px;
    border-radius: 50%;
    transform: translate(-200%);
}

.ul-secondary li::before{
    content: "";
    position: absolute;
    width: 8px;
    height: 8px;
    border: 2px solid #18813F;
    top: 6px;
    border-radius: 50%;
    transform: translate(-200%);
    background-color: transparent;
}

.flt_svg {
    visibility: hidden; 
    position: absolute;
    width: 0px;
    height: 0px;
}

.box_parent
{
    filter: url('#flt_tag');
}

.news-wrapper p{
    margin-bottom: 24px;
}

.news-wrapper img{
    max-width: 1000px;
    margin: auto;
    width: 100%;
}

.news-wrapper a{
    text-decoration: underline;
    color: #18813F;
    font-weight: bold;
}

.ol-primary { counter-reset: item; }

.ol-start-4 { counter-reset: item+3; }

.ol-primary li { 
    display: block; 
    position: relative;
    margin-left: 30px;
    margin-bottom: 12px;
    padding-right: 30px;
}

.ol-primary li:before {
    counter-set: chapter 100;
    position: absolute;
    content: counter(item) ". ";
    counter-increment: item;
    color: #18813F;
    transform: translate(-200%);
    font-weight: bold;
}
  