name: Node.js CI

on:
  push:
    branches: [ "export-static" ]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Use Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18.16.0'
      - name: Install dependencies
        run: npm ci
      - name: Build
        run: npm run build
        env:
            NEXT_PUBLIC_HYGRAPH_ENDPOINT: ${{ secrets.NEXT_PUBLIC_HYGRAPH_ENDPOINT }}
            NEXT_PUBLIC_SITE_URL: ${{ secrets.NEXT_PUBLIC_SITE_URL }}
      - name: Deploy
        uses: actions/checkout@v4
        with:
          local: test.txt
          remote: websites/cieplydom/test.txt
          host: ${{ secrets.NEXT_PUBLIC_SITE_URL }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.PASSWORD }}